body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
    background-color: #000;
    color: #fff;
    font-family: 'Press Start 2P', monospace;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #ffc1e3;
    color: rgb(255, 0, 106);
    text-align: center;
    padding: 1em;
}

nav a {
    color: rgb(255, 0, 144);
    margin: 0 10px;
    text-decoration: none;
}